body {
    background-color: rgb(255, 255, 249);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2vw;
    margin: 0vw;
}

#logo { /*this is to remove the margin on the top of the header*/
    margin: 1%;
    padding: 10%;
    align-content: center;
    width: 21vw;
    height: 15vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: double underline;
    /*box-shadow: 0.3vw 0.3vw 0.3vw 0.3vw rgb(164, 109, 240);*/
    /*text-shadow:  #8B4EC4;*/
    /*background-color: rgb(164, 109, 240);*/
}

#nav-tabs {
    display: flex;
    list-style: none;
    text-decoration: none;
}

#nav-tabs > li {
    display: block;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 5px;
}

.nav-button {
    color: white;
    text-decoration: none;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10%;
}


body > header {
    /*The > used in betweeen body and header is a child selector*/
    color: #ffffff;
    background-color: #e32525;
    border: black;
    display: flex;
    height: 15vh;
    align-items: center;
    justify-content: space-around;
}

#main-content {
    display: flex;
    justify-content: space-around;
}

#main-content > div {
    width: 75%
}

#welcome {
    margin: 1vw 1vh;
    padding: 2vw 2vh;
    border-color: #e32525;
    border-style: double;
    background-color: rgb(249, 166, 166);
}

blockquote {
    color: rgb(249, 90, 169);

}

#types-section {
    list-style-type: square;
    background-color: rgb(190, 246, 246);
    padding: 1vh;
}

#types {
    list-style: square;
    background-color: rgb(190, 246, 246);
}

#types > li > a {
    color: blue;
    text-decoration: none;
}

#regions-section {
    list-style-type: square;
    background-color: rgb(210, 255, 200);
    padding: 1vh;
}

#regions {
    list-style: square;
}

#regions > li > a {
    color: rgb(15, 105, 54);
    text-decoration: none;
}

body > footer {
    /*The > used in betweeen body and header is a child selector*/
    color: #ffffff;
    background-color: #e32525;
    display: flex;
}

#footer-title {
    margin: 10px;
    padding: 5px;
    align-content: center center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: double underline;    
}

#footer-list {
    display: flex;
    list-style: none;
    align-items: center;
}

#footer-list > div > li {
    margin-left: 3vw;
}

#footer-list > div > li > a {
    text-decoration: none;
    color: white;
    border: 5px 5px;
}

body > main article {
    width: 70%;
    margin: auto;
}

/*Below described what you need to do to centre the form at the bottom, where the text is enclosed within a block*/
form {
    text-align: center;
    border: 2px solid #e32525;
    border-radius: 10%;
    background-color: rgb(250, 203, 255);
    padding: 1%;
    margin: 1px;
}

h2 {
    text-align: center;
}

/*Next is to change the border of the images, the radius basically tells you how curved the edges are*/
img {
    border-radius: 25%;
}

/* Below indicates how you would change the colour of visited links using this pseudoclass
a:visited {
    color: aqua;
}
Below shows a pseudo elements whereby the first line of each paragraph will have an extra large font
p::first-line {
    font-size: x-large;
}*/

#sign-up {
    background-color: #e32525;
    display: flex;

}

#favourites {
    color:rgb(15, 105, 54);
    text-align: center;
    grid-area: header;
}

#position-1 {
    padding: 2px;
    grid-area: position-1;
    border: 2px solid gold;
    text-align: center;
    color: rgb(157, 134, 4);
    margin: 1px;
}

#position-2 {
    padding: 2px;
    grid-area: position-2;
    border: 2px solid silver;
    color: rgb(77, 76, 76);
    text-align: center;
    margin: 1px;
}

#position-3 {
    padding: 2px;
    grid-area: position-3;
    border: 2px solid rgb(137, 56, 2);
    color: #e32525;
    text-align: center;
    margin: 1px;
}

#position-4 {
    padding: 2px;
    grid-area: position-4;
    border: 2px solid black;
    text-align: center;
    margin: 1px;
}

#grid-container {
    display: grid;
    grid-template-areas: 
    "header header"
    "position-1 position-2"
    "position-3 position-4"
    ;
    grid-template-columns: 1fr 1fr;
   }

#charizard {
    display: block;
    margin: auto;
}

#post > footer > img {
    display: block;
    margin: auto;
}

#post > footer > h3 {
    text-align: center;
}

#legend {
    font-size: small;
}